p{
	text-align: center;
}

.textNormal {
	font-size:20px;
}

.textGrow {
	font-size: 30px;
}

#rectangle{
	width:100px;
	height:100px;
	background: blue;
	margin: 10px auto;
/*	display:flex;
	align-items: center;*/
	position: absolute;
	top:50%;
	left:50%;
}
.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: center; /* Float the buttons side by side */
		margin-top:400px;
		margin-left:200px;

}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
	background-color: #3e8e41;
}

